@model MvcMovie.Models.Entities.Movies

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => @model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => @model.Info.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @model.Info.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => @model.Info.Actors)
        </dt>
        <dd class="col-sm-10">
            @for (int i = 0; i < Model.Info.Actors.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => @Model.Info.Actors[i].Actor)
                    </td>
                </tr>
            }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => @model.Info.Directors)
        </dt>
        <dd class="col-sm-10">
            @for (int i = 0; i < Model.Info.Directors.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => @Model.Info.Directors[i].Director)
                    </td>
                </tr>
            }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => @model.Info.Genres)
        </dt>
        <dd class="col-sm-10">
            @for (int i = 0; i < Model.Info.Genres.Count; i++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => @Model.Info.Genres[i].Genre)
                    </td>
                </tr>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => @model.Info.Plot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => @model.Info.Plot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => @model.Info.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <div class="img-thumbnail">
                <img src="@Url.Content(@Model.Info.ImageUrl)" alt="Image" style="width: 200px; height: 200px;" />
            </div>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
